<% content_for :title do %>Steven Leiva<% end %>
<% content_for :description do %>Website of Steven Leiva<% end %>
<section>
    <img src="http://lorempixel.com/1170/600/cats/1/" />
</section>
<section>
  <div class="column">
    <h2>Stay in touch.</h2>
  </div><!-- end column -->
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => "Your email addres..." %>
        <br />
        <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div><!-- end form-centered -->
  </div><!-- end column -->
</section>
